
/* Responsive queries */
/* Smartphone */

@media only screen and (min-width: 320px) and (max-width: 768px) {
    footer{
        position: relative;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
        color: #FFF;
    }

}
